@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.header {
  background-size: cover;
  background-image: url("./assets/bg-mobile-light.jpg");
  height: 300px;
}

.dark .header {
  background-image: url("./assets/bg-mobile-dark.jpg");
}

@media (min-width: 640px) {
  .header {
    background-image: url("./assets/bg-desktop-light.jpg");
    background-size: cover;
    height: 400px;
  }

  .dark .header {
    background-image: url("./assets/bg-desktop-dark.jpg");
  }
}
